// variable

$width: 1200px;

$primary-color: #000;
$secondary-color: #891818;
$text-primary: #fff;
$text-secondary:#000;
$border-color: #707070;


$fz-4: 16px;
$fz-5: 20px;
$fz-6: 24px;
$fz-16: 64px;
$fz-20: 80px;

$font-family-base: "Roboto", "PingFang TC", "SF Pro Text", "Microsoft JhengHei", "微軟正黑體", sans-serif;



