@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*css reset over*/
.mb-1 {
  margin-bottom: 4px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-3 {
  margin-bottom: 12px; }

.mb-4 {
  margin-bottom: 16px; }

.mb-5 {
  margin-bottom: 20px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-7 {
  margin-bottom: 28px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-9 {
  margin-bottom: 36px; }

.mb-10 {
  margin-bottom: 40px; }

.mb-14 {
  margin-bottom: 56px; }

.mb-16 {
  margin-bottom: 64px; }

.mb-17 {
  margin-bottom: 68px; }

.mb-20 {
  margin-bottom: 80px; }

.mb-24 {
  margin-bottom: 96px; }

.me-1 {
  margin-right: 4px; }

.me-2 {
  margin-right: 8px; }

.me-4 {
  margin-right: 16px; }

.me-6 {
  margin-right: 24px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.f-jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.f-jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.f-jcse {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.f-jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.f-jcfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.f-aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.f-wrp {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.medium {
  font-weight: 500; }

.bold {
  font-weight: 700; }

.black {
  font-weight: 900; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  display: block;
  color: #fff; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

body {
  font-family: "Roboto", "PingFang TC", "SF Pro Text", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  line-height: 1.5;
  color: #000; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

header {
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff; }
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  header p {
    font-size: 24px; }
  header h1 {
    font-size: 80px;
    line-height: 106px; }
  header ul {
    width: 100%; }
  header a:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.3; }

.subtitle {
  font-size: 24px;
  line-height: 42px;
  -ms-flex-item-align: start;
      align-self: flex-start; }

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 64px 0; }
  footer a {
    font-size: 24px; }
    footer a:hover {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      opacity: 0.3; }

.title {
  font-size: 64px;
  line-height: 84px; }

.about {
  text-align: center;
  font-size: 24px;
  line-height: 42px; }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .about .degree {
    line-height: 36px; }
  .about ul {
    width: 384px;
    padding-top: calc(28px - 1px);
    border-top: 1px solid #000; }
  .about .circle {
    width: 22px;
    height: 22px;
    background: #891818;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle; }

.brand {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 56px 0 160px; }
  .brand-subtitle {
    font-size: 24px;
    line-height: 42px; }
  .brand-content {
    font-size: 20px; }
  .brand ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .brand-img1 {
    margin-left: auto;
    margin-right: auto; }

.otherWorks {
  text-align: center; }
  .otherWorks p {
    font-size: 20px;
    line-height: 42px; }
  .otherWorks ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .otherWorks ul li {
      margin-bottom: 48px; }

.otherWorks .otherWorks-subtitle {
  line-height: 1.5; }

/*# sourceMappingURL=all.css.map */
